---
title: Randolph Ledesma | BLOG
---

<!doctype html>
<html lang="en">
  <head>
    {% include "meta.njk" %}
    <title>Randolph Ledesma | BLOG: {{ title }}</title>
    <link rel="stylesheet" href="/bundle.css">

    <!-- Prism JS core and language-specific files with defer -->
    <link rel="stylesheet" href="/assets/prism.css">
    <script defer src="/assets/prism.js"></script>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <h4>{{ date }}</h4>
    {{ content | safe }}
  </body>
</html>
