---
title: Randolph Ledesma | BLOG
---

<!doctype html>
<html lang="en">
  <head>
    {% include "meta.njk" %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/bundle.css">
  </head>
  <body>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </body>
</html>
