---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for post in collections.all -%}
  {%- if not post.url.endsWith(".css") and not post.url.endsWith(".xml") -%}
  <url>
    <loc>{{ site.baseUrl | default(site.url) }}{{ post.url | url }}</loc>
    {%- if post.date -%}
      <lastmod>{{ post.date.toISOString().split('T')[0] }}</lastmod>
    {%- endif -%}
  </url>
  {%- endif -%}
{%- endfor -%}
</urlset>
